<div class="message-content" *ngIf="conversacion">

    <div class="messages-headline">


        <img id="iconoLucy" src="./assets/images/lucy.jpg" alt="">
        <h1 id="nombreCabecera">CHEC Grupo EPM</h1>

        <a (click)="clearConversationp()" class="message-action">
            <i class="icon-feather-trash-2"></i>
            <!--            
            <i class="fas fa-times"></i>
            <i class="fas fa-minus" ></i>  
            -->
        </a>
    </div>

    <!-- Message Content Inner -->
    <div class="message-content-inner" id="message-content-inner">
        <app-message *ngFor="let m of conversation" [message]="m" (onChipSelected)="onChipSelected($event)">
        </app-message>
    </div>
    <!-- Message Content Inner / End -->

    <!-- Reply Area -->
    <div class="message-reply">
        <input type="text" placeholder="Envia un mensaje" [(ngModel)]="inputMessage" (keyup.enter)="sendMessage()">
        <i class="fas fa-paper-plane fa-1.5x" (click)="sendMessage()"></i>
        <!--<button (click)="sendMessage()" class="button ripple-effect" style="background-color: rgba(28, 192, 28, 0.658);">Enviar</button></i>-->
    </div>   
</div>

<div class="position-relative overflow-hidden" *ngIf="loginInicial">
    <!-- <div id="side_background"></div> -->
    <div class="h_100vh">
      <div class="row justify-content-between align-items-center no-gutters h-100">
        <div class="mx-auto">
          <div class="card py-5 m-0">
            <div class="row align-items-center no-gutters">
              <div class="col-12 ml-lg-0">
                <div class="px-4">
                  <div class="text-center mb-4">
                    <img src="assets/images/chec_logo.png" alt="CHEC" class="img-fluid" />
                  </div>
                  <h5 class="d-sm-block d-md-none text-center mb-4">
                    Iniciar sesión
                  </h5>
                  <h3 class="d-sm-down-none text-center mb-4">Iniciar sesión</h3>
                  <!-- <p class="text-muted text-center mb-4">Ingresa a tu cuenta</p> -->
                  <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="position-relative mb-4">
                      <label for="correo">Correo electrónico</label>
                      <input type="text" formControlName="correo" class="form-control" id="email"
                        placeholder="usuario@chec.com.co" />
                    </div>
  
                    <div class="position-relative" style="margin-bottom: 2rem">
                      <label for="contrasena">Contraseña</label>
                      <input type="password" formControlName="contrasena" class="form-control" id="password"
                        placeholder="Contraseña" />
                    </div>
                    <div class="">
                      <button type="submit" class="btn verde_primary text-white w-100">
                        Ingresar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>